div.settingsContainer {
  margin-top: rem(16);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(8);
  button.accordionHeader {
    background-color: var(--gray-color) !important;
    &[aria-expanded='true'] {
      background-color: var(--secondary-color) !important;
      &:hover {
        background-color: var(--secondary-color) !important;
      }

      h4,
      svg {
        color: var(--white-color);
      }
    }
    h4 {
      text-transform: uppercase;
      //  text-align: center;
    }
    &:hover {
      background-color: var(--tertiary-color) !important;
    }
  }
  .accordionPanel {
    overflow: hidden;
  }
  .listContainer {
    flex-basis: 10%;
    @include breakpoint('md', 'lg') {
      flex-basis: 15%;
    }
    @include breakpoint('lg') {
      flex-basis: 20%;
    }
    .listItem {
      height: rem(40);
      @include breakpoint('lg') {
        height: rem(48);
      }
      button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: var(--text-color);
        box-shadow: $box-shadow-md;
        text-transform: uppercase;
        &:hover {
          background-color: var(--secondary-color);
          color: var(--white-color);
        }
      }
    }
    .selecetdListItem {
      button {
        background-color: var(--primary-color);
        color: var(--white-color);
        @include breakpoint('sm', 'md') {
          transform: scale(1.1); //translateX(25px);
        }
        @include breakpoint('md', 'lg') {
          transform: scale(1.05); //translateX(15px);
        }
      }
    }
  }
  .settingsContent {
    flex-basis: 90%;
    @include breakpoint('md', 'lg') {
      flex-basis: 85%;
    }
    @include breakpoint('lg') {
      flex-basis: 80%;
    }
    .content {
      width: 100%;
      margin-left: rem(12);
      margin-right: rem(4);
      @include breakpoint('lg') {
        margin-left: rem(24);
        margin-right: rem(24);
      }
    }
  }
}
.table {
  align-items: center;
  overflow: hidden;
  grid-template-columns: auto !important;
  @include breakpoint('md', 'lg') {
    grid-template-columns: 320px auto !important;
  }
  @include breakpoint('lg') {
    grid-template-columns: 380px auto !important;
  }

  .dropdownContainer {
    margin: rem(8) 0;
    align-items: center;
    gap: rem(8);

    &.dropdownContainerColumn {
      flex-direction: column;
      align-items: flex-start;
    }
    .scriptTextContainer {
      width: 100%;
      margin-top: rem(8);
    }

    .dropdownButton {
      width: 160px;
      white-space: break-spaces;
      text-align: start;
      @include breakpoint('md', 'lg') {
        width: 200px;
      }
      @include breakpoint('lg') {
        width: 280px;
      }
    }
  }
  .valueWithInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(4);
    .info {
      font-weight: 500;
      text-align: start;
      font-style: italic;
    }
  }
  .maxConnectMarkLabel {
    width: rem(52);
    min-width: rem(52);
    height: rem(32);
    margin-top: rem(-40);
    margin-left: rem(-24);
    border-radius: $border-radius-sm;
  }
}

.markdownContent {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.markdownContent h1,
.markdownContent h2,
.markdownContent h3 {
  color: #2c3e50;
  margin-top: 1.5em;
}

.markdownContent ul {
  margin: 1em 0;
  padding-left: 20px;
  list-style-type: disc;
}

.markdownContent li {
  margin-bottom: 0.5em;
}

.markdownContent li a {
  color: #3498db;
  text-decoration: none;
  font-weight: 600;
}

.markdownContent li a:hover {
  text-decoration: underline;
  color: #2c3e50;
}

.markdownContent p {
  margin: 1em 0;
}

.markdownContent a {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px dashed #e67e22;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.markdownContent a:hover {
  color: #d35400;
  border-color: #d35400;
}
